# ==========================
# Application
# ==========================

APP_NAME=Sales Analytics API
APP_ENV=development
APP_VERSION=1.0.0

# ==========================
# Database
# ==========================

DB_HOST=mysql
DB_PORT=3306

DB_DATABASE=sales

DB_USER=sales_user
DB_PASSWORD=123456

# ==========================
# SQLAlchemy
# ==========================

SQL_ECHO=true

# ==========================
# Upload
# ==========================

MAX_UPLOAD_SIZE=314572800